div(class="flex flex-row justify-between grow mt-8")
  header(class="flex flex-col space-y-2")
    h1.text-3xl.font-semibold Cryptocurrency Prices by Market Cap
    p.text-gray-700 The global cryptocurrency market cap clone by Shane (HTMX and Nodejs). 
      a(href='https://stackblitz.com/edit/stackblitz-starters-n6qdm7?file=views%2Fheader.pug' class="underline font-medium") Read more
  img(src="https://cryptologos.cc/logos/bitcoin-cash-bch-logo.svg", alt="logo" width="70px")
