doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    script(src="https://cdn.tailwindcss.com")
    script(src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.8/dist/cdn.min.js")
    script(src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous")
    title Document
  body(class="lg:w-3/4 lg:m-auto bg-neutral-50" hx-get="/" hx-trigger="every 60m")
    include header.pug
    include hero.pug
    include tablecontrol.pug
    include table.pug